<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    
    # gzip対応
    
    # ブラウザからgzip圧縮リクエストがあるか確認する
    RewriteCond %{HTTP:Accept-Encoding} gzip
    
    # ファイル名に「.gz」が含まれたファイルがあるか確認する
    RewriteCond %{REQUEST_FILENAME}\.gz -s
    
    #要求されているファイルの拡張子を取得
    RewriteCond %{REQUEST_URI} (\.js|\.css)$
    
    # リクエストファイルからgzip圧縮ファイルに置換する
    RewriteRule .* %{REQUEST_URI}.gz [L]
    # RewriteRule ^(.+) $1.gz
    
    # Header append Vary Accept-Encoding env=!dont-vary
</IfModule>

# CSSファイルの圧縮版に変更
<FilesMatch "\.css\.gz$">
    ForceType text/css
    AddEncoding x-gzip .gz
</FilesMatch>

# jsファイルの圧縮版に変更
<FilesMatch "\.js\.gz$">
    ForceType application/x-javascript
    AddEncoding x-gzip .gz
</FilesMatch>